<style>
    body {
        margin: 0;
        padding: 0;
    }

    .background {
        background-color: #ffffff;
        min-height: 100vh;
    }

    .card-item {
        background-color: #1f2937;
        color: white;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow:
            0 20px 25px -5px rgb(0 0 0 / 0.1),
            0 8px 10px -6px rgb(0 0 0 / 0.1);
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
</style>

<div
    class="background w-full min-h-screen flex flex-col items-center pt-10 px-6"
>
    <h1
        class="text-5xl font-extrabold mb-14 text-black text-center drop-shadow-md tracking-wide"
    >
        Hackathon CEFODEN
    </h1>

    <div class="w-full max-w-7xl flex flex-col lg:flex-row gap-8">
        <div class="w-full lg:w-1/2 flex flex-col gap-6">
            <h4
                class="text-2xl font-extrabold text-black text-center drop-shadow-md tracking-wide"
            >
                17 Y 18 de Septiembre de 2025
            </h4>
            <div class="card-item text-lg leading-relaxed">
                Participé en un hackathon que permitió a los estudiantes de las
                UMB desarrollar un proyecto enfocado en alternativas de pago,
                utilizando como base la API Open Payments. Junto con mi equipo,
                decidimos crear una aplicación web orientada a apoyar a los
                artesanos, en la cual pudieran mostrar sus productos, establecer
                precios y compartir sus datos de contacto. Además, la plataforma
                integró un sistema de pagos para facilitar las compras y un
                apartado de donaciones, con el objetivo de brindarles una
                herramienta digital completa que fortaleciera su
                comercialización y presencia en línea.
            </div>

            <div class="card-item text-lg leading-relaxed">
                Durante el hackathon se presentaron diversas dificultades,
                comenzando por la falta de descanso, ya que el proyecto debía
                desarrollarse en un lapso de 24 horas continuas, lo que implicó
                trabajar sin dormir. A pesar de ello, nuestra propuesta se
                enfocó en facilitar la comercialización de las artesanías
                mediante un sistema confiable, seguro y transparente, que
                permitiera reducir los riesgos de impago y formalizar
                transacciones que, en muchos casos, aún dependen del uso de
                efectivo o de acuerdos informales.
            </div>

            <div class="card-item text-lg leading-relaxed">
                El hackathon no solo me permitió poner en práctica mis
                conocimientos de programación y diseño, sino que también dejó
                una enseñanza más profunda sobre la importancia de la
                resiliencia y el trabajo en equipo. A pesar de la falta de
                descanso y de las condiciones limitadas, la motivación por
                innovar y desarrollar un proyecto con impacto real fue lo que
                impulsó al equipo a mantenerse enfocado y comprometido hasta el
                final.
            </div>
        </div>
        <div
            class="w-full lg:w-2/3 flex justify-center items-center lg:sticky lg:top-10"
        >
            <img
                src="/images/reconocimiento_CEFODEN.jpeg"
                alt="Foto del robot"
                class="rounded-2xl shadow-2xl w-full h-full object-cover"
            />
        </div>
    </div>
    <a
        href="/Entradas"
        class="mb-6 self-start bg-gray-800 text-white px-6 py-2 rounded-xl shadow-lg hover:bg-gray-700 transition"
    >
        Regresar
    </a>
</div>
