<div
    class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-100"
>
    <h1 class="text-4xl font-bold mb-8 text-black">Actividades</h1>
    
    <div class="grid grid-cols-5 gap-4 w-11/12">

        <a
            href="/src/components/templates/ConcursoR.astro"
            target="_blank"
            class="bg-gray-800 shadow-xl rounded-xl p-3 text-white flex flex-col"
        >
            <img
                src="/images/Robot.jpeg"
                alt="Robot"
                class="mb-2 h-32 w-full object-cover rounded-md"
            />
            <h2 class="text-base font-bold mb-1 text-center">
                Desarrollo del Robot
            </h2>
            <p class="text-s text-gray-300 text-center">
                Se llevo a cabo un concurso de peleas de robots en atlacomulco
                el 14 de Noviembre de 2024.
            </p>
        </a>

        <a
            href="https://github.com/fs2878810-ux/fs2878810-ux.github.io"
            target="_blank"
            class="bg-gray-800 shadow-xl rounded-xl p-3 text-white flex flex-col"
        >
            <img
                src="/images/SHPE_RISE.webp"
                alt="SHPE RISE"
                class="mb-2 h-32 w-full object-cover rounded-md"
            />
            <h2 class="text-base font-bold mb-1 text-center">SHPE RISE</h2>
            <p class="text-s text-gray-300 text-center">
                Trata de un curso impartido por la Sociedad de Ingenieros
                Profesionales Hispanos de la Universidad de Michigan el 28 de
                Marzo de 2025.
            </p>
        </a>

        <a
            href="https://github.com/fs2878810-ux/fs2878810-ux.github.io"
            target="_blank"
            class="bg-gray-800 shadow-xl rounded-xl p-3 text-white flex flex-col"
        >
            <img
                src="/images/delfin.png"
                alt="Programa Delfín"
                class="mb-2 h-32 w-full object-cover rounded-md"
            />
            <h2 class="text-base font-bold mb-1 text-center">
                Programa Delfín
            </h2>
            <p class="text-s text-gray-300 text-center">
                Trata de un programa que permite a estudiantes de licenciatura a
                participar en estancias de investigación con profesores e
                investigadores de México y otros países de Latinoamérica,
                llevado a cabo del 9 de junio al 25 de julio de 2025.
            </p>
        </a>

        <a
            href="https://github.com/owlok-afk/Interledger_program"
            target="_blank"
            class="bg-gray-800 shadow-xl rounded-xl p-3 text-white flex flex-col"
        >
            <img
                src="/images/hackathon1.jpeg"
                alt="Hackathon"
                class="mb-2 h-32 w-full object-cover rounded-md"
            />
            <h2 class="text-base font-bold mb-1 text-center">
                Hackathon CEFODEN
            </h2>
            <p class="text-s text-gray-300 text-center">
                Se trata de un proyecto desarrollado en un hackathon que se
                llevó a cabo en el CEFODEN el 17 y 18 de Septiembre de 2025.
            </p>
        </a>

        <a
            href="https://github.com/owlok-afk/interledger_cdmx"
            target="_blank"
            class="bg-gray-800 shadow-xl rounded-xl p-3 text-white flex flex-col"
        >
            <img
                src="/images/hackathonCDMX.jpeg"
                alt="Hackathon CDMX"
                class="mb-2 h-32 w-full object-cover rounded-md"
            />
            <h2 class="text-base font-bold mb-1 text-center">Hackathon CDMX</h2>
            <p class="text-s text-gray-300 text-center">
                Consta de un proyecto realizado en un hackathon que se llevó a
                cabo en la CDMX el 7, 8 y 9 de Noviembre de 2025.
            </p>
        </a>
    </div>
</div>
