<div
  class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-100 text-white"
>
  <h1 class="text-4xl font-bold mb-8 text-black">Habilidades escolares</h1>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <img src="/images/HMTL&CSS.png" alt="HMTL Y CSS" class="block mx-auto mb-3 h-20 object-cover">
      <b>HTML y CSS</b> 
      <p>
        Manejo básico de atributos globales, insersión de imágenes, enlaces y
        videos.
      </p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <img src="/images/Python.png" alt="Python" class="block mx-auto mb-3 h-20 object-cover">
      <b>Python</b>
      <p>
        Programación básica, manejo de listas, diccionarios y uso de librerías.
      </p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <img src="/images/Circuitos.avif" alt="Circuitos" class="block mx-auto mb-3 h-20 object-cover">     
      <b>Circuitos</b>
      <p>
        Conocimiento de componentes básicos, constucción de circuitos en
        protoboard, identificación de fallas en circuitos simples.
      </p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <img src="/images/Arduino.png" alt="Arduino" class="block mx-auto mb-3 h-20 object-cover">      
      <b>Arduino</b>
      <p>
        Programación con Arduino IDE, uso de sensores, lectura de entradas
        analógicas y digitales.
      </p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <img src="/images/Adobe.png" alt="Adobe illustratorS" class="block mx-auto mb-3 h-20 object-cover">      
      <b>Adobe Illustrator</b>
      <p>
        Uso de pluma, formas y trazados, manejo de capas, vectorización de
        imágenes.
      </p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <img src="/images/basesdedatos.png" alt="Bases de datos" class="block mx-auto mb-3 h-20 object-cover">      
      <b>Bases de datos</b>
      <p>
        Modelado de datos, uso de SQL para consultas, inserciones,
        actualizaciones y eliminaciones, manejo de gestores.
      </p>
    </div>
  </div>
</div>

<div
  class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-100 text-white"
>
  <h1 class="text-4xl font-bold mb-8 text-black">Habilidades personales</h1>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <img src="/images/trabajo_equipo.jpg" alt="Trabajo en equipo" class="block mx-auto mb-3 h-20 object-cover">      
      <b>Trabajo en equipo</b>
      <p>Capacidad para colaborar con diferentes áreas, aporte de ideas, comunicación efectiva, participación activa.</p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <img src="/images/responsabilidad.png" alt="Responsabilidad" class="block mx-auto mb-3 h-20 object-cover">      
      <b>Responsabilidad</b>
      <p>Cumplimento putual de tareas, gestión adecuada de tiempos, uso adecuado de recursos.</p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <img src="/images/creatividad.avif" alt="Creatividad" class="block mx-auto mb-3 h-20 object-cover">      
      <b>Creatividad</b>
      <p>Generación e nuevas ideas, flexibilidad para explorar cosas nuevas,diseño de conceptos visuales.</p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <img src="/images/liderazgo.jpg" alt="Liderazgo" class="block mx-auto mb-3 h-20 object-cover">      
      <b>Liderazgo</b>
      <p>Capacidad para coordinar trabajos, toma de decisiones informadas, guia y apoyo a compañeros.</p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <img src="/images/comunicacion.png" alt="Comunicación" class="block mx-auto mb-3 h-20 object-cover">      
      <b>Comunicación</b>
      <p>Expreción clara y eficaz, escucha activa, uso de distintos canales de comunicación.</p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <img src="/images/Rproblemas.png" alt="Resolución de problemas" class="block mx-auto mb-3 h-20 object-cover">      
      <b>Resolución de problemas</b>
      <p>Identificación de problemas, análisis lógico, toma de decisiones bajo presión.</p>
    </div>
  </div>
</div>
