<div class="w-full py-16 flex flex-col justify-center items-center bg-blue-400 text-white">
  <h1 class="text-4xl font-bold mb-8">Habilidades escolares</h1>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
    <div class="bg-gray-800 text-center rounded-lg shadow">HTML y CSS
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow">Python</div>
    <div class="bg-gray-800 text-center rounded-lg shadow">Circuitos</div>
    <div class="bg-gray-800 text-center rounded-lg shadow">Arduino</div>
    <div class="bg-gray-800 text-center rounded-lg shadow">Adobe Illustrator</div>
    <div class="bg-gray-800 text-center rounded-lg shadow">Bases de datos</div>
  </div>
</div>

<div class="w-full py-16 flex flex-col justify-center items-center bg-blue-400 text-white">
  <h1 class="text-4xl font-bold mb-8">Habilidades personales</h1>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
    <div class="bg-gray-800 text-center rounded-lg shadow">HTML y CSS
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow">Python</div>
    <div class="bg-gray-800 text-center rounded-lg shadow">Circuitos</div>
    <div class="bg-gray-800 text-center rounded-lg shadow">Arduino</div>
    <div class="bg-gray-800 text-center rounded-lg shadow">Adobe Illustrator</div>
    <div class="bg-gray-800 text-center rounded-lg shadow">Bases de datos</div>
  </div>
</div>