<!-- src/components/templates/Habilidades_templates.astro -->
<div class="w-full min-h-screen flex flex-col justify-center items-center bg-blue-400 text-white">
  <h1 class="text-4xl font-bold mb-8">Habilidades escolares</h1>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
    <div class="bg-gray-800 text-center rounded-lg shadow p-6">HTML y CSS</div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6">Python</div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6">Circuitos</div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6">Arduino</div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6">Adobe Illustrator</div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6">Bases de datos</div>
  </div>
</div>

<!-- sección 2 -->
<div class="w-full min-h-screen flex flex-col justify-center items-center bg-blue-400 text-white">
  <h1 class="text-4xl font-bold mb-8">Habilidades personales</h1>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
    <div class="bg-gray-800 text-center rounded-lg shadow p-6">Trabajo en equipo</div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6">Responsabilidad</div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6">Creatividad</div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6">Liderazgo</div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6">Comunicación</div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6">Resolución de problemas</div>
  </div>
</div>
