<div
  class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-100 text-white"
>
  <h1 class="text-4xl font-bold mb-8 text-black">Habilidades escolares</h1>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <b>HTML y CSS</b>
      <p>
        Manejo básico de atributos globales, insersión de imágenes, enlaces y
        videos
      </p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <b>Python</b>
      <p>
        Programación básica, manejo de listas, diccionarios y uso de librerías
      </p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <b>Circuitos</b>
      <p>
        Conocimiento de componentes básicos, constucción de circuitos en
        protoboard, identificación de fallas en circuitos simples
      </p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <b>Arduino</b>
      <p>
        Programación con Arduino IDE, uso de sensores, lectura de entradas
        analógicas y digitales
      </p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <b>Adobe Illustrator</b>
      <p>
        Uso de pluma, formas y trazados, manejo de capas, vectorización de
        imágenes
      </p>
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      <b>Bases de datos</b>
      <p>
        Modelado de datos, uso de SQL para consultas, inserciones,
        actualizaciones y eliminaciones, manejo de gestores
      </p>
    </div>
  </div>
</div>

<div
  class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-100 text-white"
>
  <h1 class="text-4xl font-bold mb-8 text-black">Habilidades personales</h1>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      Trabajo en equipo
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      Responsabilidad
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      Creatividad
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      Liderazgo
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      Comunicación
    </div>
    <div class="bg-gray-800 text-center rounded-lg shadow p-6 w-70">
      Resolución de problemas
    </div>
  </div>
</div>
