<div
    class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-100"
>
    <h1 class="text-4xl font-bold mb-8 text-black">Proyectos</h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-10/12">
        <!-- Card 1 -->
        <a
            href="https://github.com/fs2878810-ux/fs2878810-ux.github.io"
            target="_blank"
            class="bg-gray-800 shadow-xl rounded-xl p-6 text-white">
            <img src="./images/yo.jpeg" alt="blog" class="block mx-auto mb-3 h-60 w-50 object-cover">        
            <h2 class="text-2xl font-bold mb-2 text-center">Blog personal</h2>
            <p class="text-white">
                Este es un blog personal creado como parte de la evaluación del
                segundo parcial en la materia de Sistemas Operativos
                Distribuidos I.
            </p>
        </a>

        <!-- Card 2 -->
        <a
            href="https://github.com/owlok-afk/Interledger_program"
            target="_blank"
            class="bg-gray-800 shadow-xl rounded-xl p-6 text-white">
            <img src="./images/hackathon1.jpeg" alt="Hackathon" class="block mx-auto mb-3 h-60 w-50 object-cover">
            <h2 class="text-2xl font-bold mb-2 text-center">Hackathon</h2>
            <p class="text-white">Se trata de un proyecto desarrollado en un hackathon que se llevó a cabo en el CEFODEN.</p>
        </a>

        <!-- Card 3 -->
        <a
            href="https://github.com/owlok-afk/interledger_cdmx"
            target="_blank"
            class="bg-gray-800 shadow-xl rounded-xl p-6 text-white">
            <img src="./images/hackathonCDMX.jpeg" alt="Hackathon" class="block mx-auto mb-3 h-60 w-50 object-cover">
            <h2 class="text-2xl font-bold mb-2 text-center">Hackathon CDMX</h2>
            <p class="text-white">Consta de un proyecto realizado en un hackathon que se llevó a cabo en la CDMX</p>
        </a>
    </div>
</div>
