<style>
    body {
        margin: 0;
        padding: 0;
    }

    .background {
        background-color: #ffffff;
        min-height: 100vh;
    }

    .card-item {
        background-color: #1f2937;
        color: white;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow:
            0 20px 25px -5px rgb(0 0 0 / 0.1),
            0 8px 10px -6px rgb(0 0 0 / 0.1);
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
</style>

<div
    class="background w-full min-h-screen flex flex-col items-center pt-10 px-6"
>
    <h1
        class="text-5xl font-extrabold mb-14 text-black text-center drop-shadow-md tracking-wide"
    >
        Curso SHPE RISE
    </h1>

    <div class="w-full max-w-7xl flex flex-col lg:flex-row gap-8">
        <div class="w-full lg:w-1/2 flex flex-col gap-6">
            <h4
                class="text-2xl font-extrabold text-black text-center drop-shadow-md tracking-wide"
            >
                28 de Marzo de 2025
            </h4>
            <div class="card-item text-lg leading-relaxed">
                El 28 de marzo de 2025 participé en un curso impartido por la
                Sociedad de Ingenieros Profesionales Hispanos de la Universidad
                de Michigan. Este curso estuvo enfocado en fortalecer
                conocimientos y habilidades relacionadas tecnológicas.
            </div>

            <div class="card-item text-lg leading-relaxed">
                Durante el curso se abordaron temas como Arduino, redes
                neuronales, inteligencia artificial y circuitos electrónicos,
                los cuales fueron explicados de manera clara y con ejemplos
                prácticos. Se mostraron aplicaciones reales de estas
                tecnologías. A través de las explicaciones y demostraciones,
                aprendí cómo estas áreas se relacionan entre sí y cómo pueden
                aplicarse en proyectos reales. Además, los ponentes compartieron
                experiencias profesionales que ayudaron a comprender mejor el
                panorama laboral y académico en el área tecnológica.
            </div>

            <div class="card-item text-lg leading-relaxed">
                Este curso me sirvió para reforzar mis conocimientos y ampliar
                mi comprensión sobre tecnologías actuales como la inteligencia
                artificial y las redes neuronales. También me motivó a seguir
                aprendiendo y a interesarme más en el desarrollo de proyectos
                relacionados con electrónica y programación, ya que son áreas
                clave para mi formación.
            </div>
        </div>
        <div
            class="w-full lg:w-2/3 flex justify-center items-center lg:sticky lg:top-10"
        >
            <img
                src="/images/reconocimiento_SHPE.jpeg"
                alt="Foto del robot"
                class="rounded-2xl shadow-2xl w-full h-full object-cover"
            />
        </div>
    </div>
    <a
        href="/Entradas"
        class="mb-6 self-start bg-gray-800 text-white px-6 py-2 rounded-xl shadow-lg hover:bg-gray-700 transition"
    >
        Regresar
    </a>
</div>
