<style define:vars={{}}>
  .background {
    background-image: var(--BackgroundSrc);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #51a2fe;
  }
</style>

<div class="background w-full min-h-screen flex flex-col justify-center items-center text-justify">
  <h1 class="text-5xl font-bold mb-4 text-white">Alan Fernando Sánchez Romero</h1>
  <p class="text-lg max-w-xl text-black">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni sequi et maiores delectus, quos adipisci earum iusto accusamus optio molestias voluptatum perspiciatis consequuntur odit nisi suscipit sint laborum assumenda asperiores velit facilis debitis praesentium? Adipisci eum ducimus sunt eaque harum quidem earum ullam? Velit omnis nostrum, quaerat ex nesciunt unde!
  </p>
</div>
