<style define:vars={{}}>
  .background {
    background-image: var(--BackgroundSrc);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #51a2fe;
  }
</style>

<div
  class="background w-full min-h-screen flex flex-col justify-start items-center text-justify pt-28"
>
  <h1 class="text-5xl font-bold mb-12 text-white text-center">
    Alan Fernando Sánchez Romero
  </h1>

  <div
    class="flex flex-col md:flex-row items-center justify-center gap-10 max-w-5xl w-full px-2"
  >
    <p
      class="text-lg max-w-3xl text-white bg-black/40 p-6 rounded-xl backdrop-blur-sm shadow-xl"
    >
      Actualmente soy estudiante de la Universidad Mexiquense del Bicentenario,
      mi formación en la UMB no solo me ha brindado herramientas para mi futuro
      profesional, sino que también me ha permitido descubrir áreas que
      realmente disfruto y en las que me gustaría especializarme. <br />
      Fuera del entorno escolar, una de mis actividades favoritas es montar a caballo.
      Es algo que me transmite una sensación de conexión con la naturaleza y me ayuda
      a despejar la mente.
      <br />
      De igual forma, la música ocupa un lugar importante en mi vida, ya sea para
      relajarme, concentrarme o simplemente acompañar mis momentos libres.
      <br />
      Aunque disfruto convivir con los demás, prefiero hacerlo con personas específicas
      con las que realmente me siento cómodo. Para mí, la calidad de la compañía
      es más importante que la cantidad, y valoro mucho las conexiones auténticas
      y sinceras.
    </p>

    <img src="/yo.jpeg" alt="Foto de perfil" class="w-100 h-100 object-cover" />
  </div>
</div>
